/*
Theme Name: su.kuri.mu
Theme URI: http://su.kuri.mu
Description: The default homepage of su.kuri.mu
Version: 1.0
Author: Aymeric Mansoux
Tags: not much now, come back later
*/

@font-face {
    font-family: 'FixedsysExcelsior301';
    src: url('/wp-content/themes/wp-sukurimu/webfont/fsex300-webfont.eot');
    src: local('☺'), url('/wp-content/themes/wp-sukurimu/webfont/fsex300-webfont.woff') format('woff'), url('/wp-content/themes/wp-sukurimu/webfont/fsex300-webfont.ttf') format('truetype'), url('/wp-content/themes/wp-sukurimu/webfont/fsex300-webfont.svg#webfontEeWomWKo') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    padding: 0;
    margin: 0;
    text-align:center; 
}

body {
    background-color: red;
    background-image: url('/wp-content/themes/wp-sukurimu/img/stripes.png');
    font-family: 'FixedsysExcelsior301';
    font-size: 16px;
    line-height: 15px;
    color: white;
    }

a {
    color: red;
    }

h1{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    color: #FFF;
    text-shadow: 4px 4px 0px #F00;
    }

h1 a, h1 a:visited, h1  a:active {
    text-decoration: none;
    color: #FFF;
    text-shadow: 4px 4px 0px #F00;
    }

h1 a:hover {
    color: #F00;
    text-shadow: 4px 4px 0px #FFF;
    }

div#main {
    width:640px; 
    text-align:left; 
    margin:0 auto;
    background-color: black;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 5px solid red;
    border-left: 5px solid red;
    }

div#leftcol{
    width:100px; 
    float:left; 
    position: fixed;
    padding-top: 75px;
    }
 
div#maincol{
    position: relative; 
    width:540px;
    float:right;
    }

.clearfix:after {
    content: ".";
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
    }
 
.clearfix {
    display: inline-block;
    }

/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
    }

.clearfix {
    display: block;
    }
/* End hide from IE-mac */ 
